body{
   background: url(imag/ed.jpg);
}

.matin1{
width: 393px;
height: 90px;
border-radius: 12px;
background: no-repeat;

background-color: rgb(0, 0, 0);
/* background: url(imag/contain_1280x630.jpg); */



}
.a1{
/* font-size: 100px; */
padding: 14px;
margin: 0;
text-decoration: none;
display: inline-block;
font-size: 25px;
box-shadow: 0 5px 4px #000000, 0 10px 30px #ff0000;
z-index: -1;
font-weight: bold;



}.a2{
   padding:13px;
   margin: 0;
text-decoration: none;
   
   display: inline-block;
   
   font-size: 25px;
   box-shadow: 0 5px 4px #000000, 0 10px 30px #ff0101;
   z-index: -1;
   font-weight: bold;
}
.a3{
   padding: 15px;
   margin: 0;
text-decoration: none;
font-size: 25px;
   
   display: inline-block;
   box-shadow: 0 5px 4px #000000, 0 10px 30px #ff0000;
z-index: -1;
font-weight: bold;



}
.h1{
border: solid 3px rgb(0, 0, 0);
border-radius: 14px;
text-decoration: none;
margin-left: 116px;
color: rgb(255, 0, 0);

box-shadow: 0 5px 4px #ffffff, 0 10px 30px #00fbff;
z-index: -1;
font-weight: bold;
}
.gy{
   border: solid 2px #515151;
   font-size: 9px;
   border-radius: 12px;
}
.pp{
   background: url(imag/تصویر\ با\ کیفیت\ بک\ گراند\ دیوار\ و\ تخته\ برای\ موکاپ-small-1000-logo.jpg);
}
.ft{
font-size: 30px;
border-radius: 10px;
color: rgb(255, 0, 0);
background-color: #000000;

}

.hot{
background: url(imag/تصویر\ با\ کیفیت\ بک\ گراند\ دیوار\ و\ تخته\ برای\ موکاپ-small-1000-logo.jpg);




}
.jo{
   
      border: solid 3px rgb(0, 0, 0);
      border-radius: 14px;
      text-decoration: none;
      margin-left: 116px;
      color: rgb(255, 0, 0);
      box-shadow: 0 5px 4px #ffffff, 0 10px 30px #00fbff;
      z-index: -1;
      font-weight: bold;
    font-size: 50px;
margin-left: 89px;
margin: 0;
}

