





@import url(https://matinordikhanii.github.io/webgo/) ;
header{
font-family:  'Open Sans',  sans-serif;





}
nav{
position: relative;
margin-top: 100px 200px;

width: 590px;

height: 50px;

background: #000000;

border-radius: 8px;

font-size: 0;
box-shadow: 0 2px 3px 0 rgb(0, 0, 0);

}
nav a{

font-size: 15px;

text-transform: uppercase;

color: white;

text-decoration: none;

line-height: 50px;
position: relative;
z-index: 1;
display: inline-block;
text-align: center;
}
nav
nav.animation{
position: absolute;
height: 100px;
top: 0;

z-index: 0;
background: #1abc9c;
width: 100px;
border-radius: 8px;
}



a:nth-child(1){
width: 120px;

}




a:nth-child(2){
width: 110px;

}




a:nth-child(3){
width: 120px;

}




a:nth-child(4){
width: 125px;

}




a:nth-child(5){
width: 100px;

}







.ru{
color: darkred;
}


.er{
width: 400px;
margin: 300px 300pxpx  200px ;
margin-top: 100px;


}

.vvr{
width: 600px;
height: 700px;


}
image{
margin: 300px 400px 300px



}

.uuu{
width: 350px;


}

.lo{
background-color: rgb(116, 240, 207);




}

.tot{
width: 287px ;
height: 236px ;
background-color: rgb(11, 218, 121);
margin: 0 ;
margin-top: 5px;
border-radius: 10px;


}




.dd{
margin: 10px;
width: 20px 20px;

background-color: green;

}


.rg{
background-color: rgb(0, 0, 0);
border: rgba(0, 42, 255, 0.268) solid 13px;
width: 130px;
margin: 100px 10px 20px 120px;
margin-top: 13px;
}

.et{

font-size:large;


}

.fff{


width: 10px   14px;

}

.rvt{
font-size: xx-large;

text-decoration-line: underline;
}
body{
background:url(image/50689831_l.jpg);





}






